body {
  background-color: #38030a;
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: darkred;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

h1 {
  font: 16pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
  color: darkred;
}

h2 {
  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 18pt;
  color: darkred;
}

h3 {
  font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 16pt;
  color: darkred;
}

p.subheader {
  font-weight: bold;
  color: darkred;
}

div {
  font-weight: bold;
  color: darkred;
  margin: 5px;
}

img {
  padding: 3pt;
  float: right;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: darkred;
}

a:hover,
a:active {
  color: darkred;
}

div.footer {
  font-size: 9pt;
  font-style: italic;
  line-height: 12pt;
  text-align: center;
  padding-top: 30pt;
}
